<%= render "composants/navbar" %>
<div class="container">
  <div class="dashboard-title">
    <div class="dashboard-party-infos">
      <h1><%= @party.name %></h1>
      <span><%= @party.created_at %></span>
    </div>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>avec icone</a>
  </div>

<div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
      <span class="nav-bible" id="nav-bible"><i class="fa-regular fa-star nav-star"></i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
      <span class="nav-maps" id="nav-map"><i class="fa-regular fa-star nav-star"></i>Map</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
      <span class="nav-players" id="nav-players"><i class="fa-regular fa-star nav-star"></i>Players</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
      <span class="nav-weapons" id="nav-weapons"><i class="fa-regular fa-star nav-star"></i>Weapons</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
      <span class="nav-active" id="nav-pnj"><i class="fa-solid fa-star nav-star"></i>PNJ</span>
      <% end %>

    </div>
  </div>

<div class="row" id="pnj-card">
<% @pnjs.each do | pnj |  %>
  <div class="col m3 s12">
      <div class="card horizontal pnj-card-container">
          <div class="card-image col s6">
            <img src="https://i.pinimg.com/236x/67/5f/31/675f31b94938ce9f3f759bd4138f3ba2.jpg">
          </div>
          <div class="card-content pnj-card-content col s6">
            <div class="row">
              <span class="pnj_name"> <%= pnj.name %></span>
            </div>
            <div class="row pnj_status">
              <i class="fa-solid fa-up-long"></i><%= pnj.lvl %>
            </div>
            <div class="row pnj_status">
              <i class="fa-solid fa-earth-asia"></i> <%= pnj.race.name %>
            </div>
            <div class="row pnj_status">
              <i class="fa-solid fa-khanda"></i><%= pnj.job.name %>
            </div>
            <div class="row pnj_status">
              <i class="fa-solid fa-user-group"></i> <%= pnj.status %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
