<%# <%= curent_user.username %>
<%= render "composants/navbar" %>
<div class="container">
  <div class="row title">
    <div class="col s12 header_add">
      <h1><%= 'Partie'.pluralize(current_user.parties.count) %> en cours</h1>
      <%= link_to new_party_path, class: "btn-large waves-effect waves-light primary_bg hoverable" do %>
        Créer un nouvel univers <i class="material-icons">add_circle</i>
      <% end %>
    </div>
  </div>

  <div class="row">

    <% current_user.parties.each do |party| %>
      <div class="col s12 m4">
          <div class="card card_party hoverable">
        <%= link_to party_path(party.id) do %>
            <div class="card-image">
              <% if party.universe.name == "Post Apocalyptic"  %>
                <%= image_tag "party_cards/Univers_PostApocalyptic.png" %>
              <% else  %>
              <%= image_tag "party_cards/Univers_#{party.universe.name}.png" %>
              <% end %>
            </div>
            <div class="card-content">
            <%# <%= if @party.send("player_1") != nil || @party.send("player_1") != '' %>
                <% players_array = [] %>
                <% (1..10).each do |i| %>
                  <% if  party.send("player_#{i}") != nil %>
                    <% if  party.send("player_#{i}") != '' %>
                      <% players_array << party.send("player_#{i}") %>
                    <% end  %>
                  <% end  %>
                <% end  %>
            <%# <% end %>
              <span class="card-title"><%= party.name %></span>
              <div class="pils_content">
                <span class="pils"><i class="material-icons">group</i> <%= players_array.length %></span>
                <span class="pils"><i class="material-icons">language</i> <%= party.universe.name %></span>
              </div>
              <blockquote class="txt_xs">
                <% party_bible = party.bible %>
                <% if party_bible.length > 102 %>
                  <%= party_bible[0, 84] + "..." %>
                <% else %>
                  <%= party_bible %>
                <% end %>
              </blockquote>
            </div>
        <% end %>
          </div>
      </div>
    <% end %>

<% until current_user.parties.any? %>
  Encore pas de partie mon loulou ? <br>
  <%= link_to new_party_path, class: "btn-large waves-effect waves-light primary_bg hoverable" do %>
    Créer un nouvel univers <i class="material-icons">add_circle</i>

    <% end %>

<% end %>

  </div>
