<%= render "composants/navbar" %>
<div class="container">
  <div class="row title">
    <div class="col s12">
      <h1>Créer une partie</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= simple_form_for @party do |f| %>
        <div class="first_section">
          <h2> Informations générales </h2>
          <div class="input-field col s12">
            <%= f.input :name, placeholder: 'Nom de la partie', label: 'Nom de la partie', class: 'party_name' %>
          </div>

          <%= f.input :party_size, placeholder: 'Durée de la partie', label: 'Durée de la partie', collection: ['Petite', 'Moyenne', 'Grande'], as: :radio_buttons  %>

          <%= f.association :universe,
            placeholder: "Univers",
            label: "Univers",
            as: :radio_buttons,
            input_html: { class: 'universe_id' },
            item_label_class: 'universe_id',
            item_wrapper_class: 'universe_id'
          %>

          <% (1..6).each do |i| %>
            <div class="input-field col s4">
              <%= f.input "player_#{i}", label: "Joueur #{i}", placeholder: "Joueur #{i}" %>
            </div>
          <% end %>

          <%= f.input :races, placeholder: "Ajoutez des races", collection: @races, as: :check_boxes, include_hidden: false %>

            <%#= f.input :mythical_creature_1_name, label: 'Ajoutez un type de créature mythique' %>
            <%#= f.input :mythical_creature_2_name, label: 'Ajoutez un deuxième type de créature mythique' %>

          <%= f.input :creatures, placeholder: "Ajoutez deux créatures mythiques", collection: @myth_creatures, as: :check_boxes, include_hidden: false %>

        </div>

        <div class="first_section">
          <h2> Carte </h2>



          <div class="col s12">
            <h6> Elements géographiques </h6>
          </div>

          <div class="col s6">
          <%= f.input :geography_1, label: 'Element géographique 1', collection: ['Plaines', 'Désert', 'Forêt', 'Mer', 'Montagne'] %>
          </div>
          <div class="col s6">
          <%= f.input :geography_2, label: 'Element géographique 2', collection: ['Plaines', 'Désert', 'Forêt', 'Mer', 'Montagne'] %>
          </div>

          <div class="col s12">
            <h6> Crééz des villes </h6>
          </div>

          <div class="col s6">
          <%= f.input :city_1_name, label: 'Nom de la ville 1' %>
          <%= f.input :city_1_size, label: 'Taille de la ville 1', collection: ['Petite', 'Moyenne', 'Grande'] %>
          <%= f.input :city_1_building_1, label: 'Ajoutez un bâtiment à la ville 1' %>
          <%= f.input :city_1_building_2, label: 'Ajoutez un 2ème bâtiment à la ville 1' %>
          </div>

          <div class="col s6">
          <%= f.input :city_2_name, label: 'Nom de la ville 2' %>
          <%= f.input :city_2_size, label: 'Taille de la ville 2', collection: ['Petite', 'Moyenne', 'Grande'] %>
          <%= f.input :city_2_building_1, label: 'Ajoutez un bâtiment à la ville 2' %>
          <%= f.input :city_2_building_2, label: 'Ajoutez un 2ème bâtiment à la ville 2' %>
          </div>

          <%= f.input :bible, :as => :hidden, :input_html => { :value => '' } %>
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%# <%= simple_form_for @party do |f| %>
<%#   <%= f.input :name, label: 'Nom de la partie' %>
<%#   <% f.input :bible, :as => :hidden, :input_html => { :value => 'blblblblbl' } %>
<%# <%= f.input :universe_id, collection: @universes, label_method: :universe_type %>
<%#   <%= f.input :player_1, label: 'Joueur 1', required: true %>
<%#   <%= f.input :player_2, label: 'Joueur 2' %>
<%#   <%= f.input :player_3, label: 'player_3' %>
<%#   <%= f.input :player_4, label: 'player_4' %>
<%#   <%= f.input :player_5, label: 'player_5' %>
<%#   <%= f.input :player_6, label: 'player_6' %>
<%#   <%= f.input :player_7, label: 'player_7' %>
<%#   <%= f.input :player_8, label: 'player_8' %>
<%#   <%= f.input :player_9, label: 'player_9' %>
<%#   <%= f.input :player_10, label: 'player_10' %>
<%#   <%= f.input :party_size, label: 'party_size' %>
<%#   <%= f.input :race_1_name, label: 'race_1_name' %>
<%#   <%= f.input :race_2_name, label: 'race_2_name' %>
<%#   <%= f.input :race_3_name, label: 'race_3_name' %>
<%#   <%= f.input :universe_type, label: 'universe_type' %>
<%#   <%= f.input :geography_1, label: 'geography_1' %>
<%#   <%= f.input :geography_2, label: 'geography_2' %>
<%#   <%= f.input :city_1_name, label: 'city_1_name' %>
<%#   <%= f.input :city_1_size, label: 'city_1_size' %>
<%#   <%= f.input :city_1_building_1, label: 'city_1_building_1' %>
<%#   <%= f.input :city_1_building_2, label: 'city_1_building_2' %>
<%#   <%= f.input :city_2_name, label: 'city_2_name' %>
<%#   <%= f.input :city_2_size, label: 'city_2_size' %>
<%#   <%= f.input :city_2_building_1, label: 'city_2_building_1' %>
<%#   <%= f.input :city_2_building_2, label: 'city_2_building_2' %>
<%#   <%= f.input :mythical_creature_1_name, label: 'mythical_creature_1_name' %>
<%#   <%= f.input :mythical_creature_2_name, label: 'mythical_creature_2_name' %>
<%#   <%= f.button :submit %>
<%# <% end %>
