<%= render "composants/navbar" %>
<div class="container">
  <%= render "composants/header_parties" %>
  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
        <span class="nav-bible" id="nav-bible"><i class="fa-regular fa-star nav-star"></i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
        <span class="nav-active" id="nav-map"><i class="fa-solid fa-star nav-star"></i>Map</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
        <span class="nav-players" id="nav-players"><i class="fa-regular fa-star nav-star"></i>Players</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
        <span class="nav-weapons" id="nav-weapons"><i class="fa-regular fa-star nav-star"></i>Weapons</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
        <span class="nav-pnj" id="nav-pnj"><i class="fa-regular fa-star nav-star"></i>PNJ</span>
      <% end %>
      <%= link_to party_creatures_path(@party) do %>
      <span class="nav-creatures" id="nav-creatures"><i class="fa-regular fa-star nav-star"></i>Creatures</span>
      <% end %>

    </div>
  </div>

  <div class="row row_bible row_map">
    <div class="col s8 bible">
      <% @maps.each do |map| %>
        <div class="row">
          <div class="col s12 bible_title">
            <h2><%= map.name %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col m8 s12 map_content">
            <%= map.content.html_safe %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s4">
            <div class="row">
              <div class="col s12">
                <div class="card blue-grey lighten-1 recap-univers">
                  <div class="card-content white-text">
                    <span class="card-title">Cities</span>
                    <div class="players-content">

                    <% @party.maps.each do |map| %>
                      <% map.cities.each do |city| %>
                        <div class="row player">
                          <i class="material-icons white-text">business</i>
                          <a href="#<%= city.name.gsub(' ', '_') %>">
                            <span><%= city.name %></span>
                          </a>
                        </div>
                      <% end %>

                    <% end %>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>

  <div class="row row_bible row_map">
    <% @maps.each do |map| %>
      <% map.cities.each do |city| %>
        <div class="col s6 bible">
          <div class="row">
            <div class="col s12 bible_title cities_title" id="<%= city.name.gsub(' ', '_') %>">
              <h2><%= city.name %></h2>
            </div>

            <div class="col s12 map_content">
              <%= city.content.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

</div>
