<%= render "composants/navbar" %>
<div class="container">
  <%= render "composants/header_parties" %>
  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
        <span class="nav-bible" id="nav-bible"><i class="material-icons white-text">language</i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
        <span class="nav-active" id="nav-map"><i class="material-icons white-text">directions</i>Map</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
        <span class="nav-players" id="nav-players"><i class="material-icons white-text">face</i>Players</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
        <span class="nav-weapons" id="nav-weapons"><i class="material-icons white-text">shopping_cart</i>Weapons</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
        <span class="nav-pnj" id="nav-pnj"><i class="material-icons white-text">group</i>PNJ</span>
      <% end %>
      <%= link_to party_creatures_path(@party) do %>
      <span class="nav-creatures" id="nav-creatures"><i class="material-icons white-text">pets</i>Creatures</span>
      <% end %>

    </div>
  </div>

  <div class="row row_bible row_map">
    <div class="col s8 bible text-center">
      <% @party.maps.each do |map| %>
        <h2><%= map.name %></h2>
        <div class="map_content">
          <%= map.content.html_safe %>
        </div>
      <% end %>
    </div>

    <div class="col s4">
  <div class="row row_bible row_map-city">
    <% @party.maps.each do |map| %>
      <% map.cities.each do |city| %>
        <div class="col s12 bible">
          <%#<div class="col s12 bible_title cities_title" id="<%= city.name.gsub(' ', '_')" %>
          <h2><i class="material-icons">business</i> <%= city.name%></h2>
          <% if city.content %>
            <%= city.content.html_safe %>
          <% else  %>
            <%= "Sorry but your city is empty" %>
          <% end  %>
        </div>
      <% end %>
    <% end %>
            <div class="col s12 map_content">
          </div>
        </div>
  </div>
      </div>
    </div>
    </div>
</div>
