<%= render "composants/navbar" %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container shine_bg-light">
        <br><br>
        <h1 class="header center tertiary_text-dark">WORLD MAKER</h1>
        <h3 class="center tertiary_text-dark"> Une solution 42 </h3>
        <div class="row center">
          <h5 class="header col s12 light">Découvrez - créez - profitez</h5>
        </div>
        <div class="row center">

          <% if user_signed_in? %>
            <% if current_user.parties.any? %>
              <%= link_to "Continuez vos parties", parties_path, class: "btn-large waves-effect waves-light hoverable" %>
            <% else %>
              <%= link_to new_party_path, class: "btn-large waves-effect waves-light hoverable" do %>
              Lancez vous !
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_party_path, class: "btn-large waves-effect waves-light hoverable" do %>
              Lancez vous !
            <% end %>
          <% end %>

        </div>
        <br><br>
        </div>
    </div>
    <div class="parallax">
      <%= image_tag ("pages/img_#{rand(1..5)}_s1.png"), class: "" %>
    </div>
  </div>



  <div class="container py-10">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row grid-3-cols">
        <div class="cards-landing">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2><h5 class="center ">OpenIA</h5>

            <p class="light">Nous utilisons l'API d'OpenAI pour générer du contenu de qualité, tel que des scénarios, des personnages et des descriptions détaillées, pour rendre chaque partie de JDR aussi intéressante que possible.</p>
          </div>
        </div>

        <div class="cards-landing">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">pie_chart</i></h2>
            <h5 class="center">MidJourney</h5>

            <p class="light">Nous avons également intégré l'IA de MidJourney pour générer des images uniques, afin d'ajouter une touche supplémentaire d'immersion à nos jeux. Ces images sont créées sur mesure ! </p>
          </div>
        </div>

        <div class="cards-landing">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">42</h5>

            <p class="light">Enfin, nous avons développé notre propre technologie de création de contenu, appelée "42", qui nous permet de créer et d'assembler des éléments de l'univers de jeu de manière à offrir une expérience cohérente et de qualité aux maîtres du jeu. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container">
    <div class="section">
      <div class="container">
        <div class="row center">

          <h5 class="header col s12 light header-subtitle"><i class="fa-solid fa-quote-left"></i>Le JDR, c’est le seul endroit où vous pouvez dire
          <strong><br>'je fais une roulade arrière'</strong><br>
          sans que les gens vous regardent bizarrement.” <br> <em class="quote-sign">Gaston</em></h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag ("pages/img_#{rand(1..5)}_s2.png"), class: "random-landing-section3" %>
    </div>
  </div>




  <div class="container shine_text-light">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4>Bienvenue dans l'univers incroyablement bizarre et chaotique<br>du jeu de rôle !</h4>
          <div class="row">
            <div class="col s10 offset-s1 center">
              <p class="light">Ici, les aventures sont toujours pleines de surprises et les règles sont aussi floues que le brouillard matinal sur une lande écossaise. Les dés volent à travers la pièce, les personnages étranges se battent contre des monstres encore plus étranges, et les joueurs se grattent la tête en se demandant ce qu'ils doivent faire ensuite.</p>
              <p class="light">Dans cet univers, vous pouvez être tout ce que vous voulez - un mage mystique, un guerrier sauvage, un voleur sournois ou même un panda géant. Tout est possible, tant que vous avez l'imagination nécessaire pour le faire.</p>
              <p class="light">Les quêtes sont variées et parfois absurdes - trouver une baguette magique dans une boulangerie française, sauver une princesse en danger d'être kidnappée par une bande de licornes rebelles, ou même aider un groupe de zombies à organiser leur propre fête d'Halloween. Les limites sont infinies !</p>
              <p class="light">Les règles sont un autre sujet. Elles sont parfois aussi claires qu'un pot de confiture de marmelade, mais plus souvent qu'autrement, elles sont aussi confuses qu'un message codé en morse envoyé par un singe ivre. Les joueurs doivent improviser et utiliser leur bon sens pour décider de ce qui est possible et de ce qui ne l'est pas.</p>
              <p class="light">Les dés sont également un élément clé de ce monde étrange. Ils peuvent déterminer l'issue d'un combat, la réussite ou l'échec d'une action ou même la météo du jour. Les joueurs peuvent passer des heures à essayer de comprendre comment fonctionnent les différents types de dés et quelle combinaison est la plus susceptible de leur donner le résultat souhaité.</p>
              <p class="light">En fin de compte, l'univers du jeu de rôle est un endroit où tout est possible, où l'imagination est reine et où les règles sont faites pour être brisées. Alors, préparez-vous à vivre des aventures incroyables et à vous émerveiller devant l'imprévisibilité de ce monde étrange et merveilleux.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col s9 center">
          <p class="left-align light">Dans un monde rempli de créatures étranges et de sorts magiques, des héros prétentieux se dressent pour défendre leur terre... ou plutôt pour gagner des points d'expérience et des trésors. Armés de leur équipement fantastique et de leur ego surdimensionné, ils partent à l'aventure pour affronter des ennemis terrifiants tels que des dragons, des démons et des sorciers - tous prêts à leur faire mordre la poussière.</p>
        </div>
        <div class="col s3">
            <%= image_tag ("pages/img_#{rand(1..3)}_deco1.png"), class: "materialboxed", style: "width:100%; height:auto"%>
        </div>
      </div>
  </div>


  <div class="container shine_text-light">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <br>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          <br>
        </div>
      </div>
    </div>
  </div>

    <div class="container primary_text">
      <div class="row center">
        <form class="">
          <div class="col s12">
            <div class="d iv"><h2 class="section-title">Contact Us</h2></div>
            <div class="input-field d ka">
              <input id="first_name" type="text">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field d ka">
              <input id="last_name" type="text">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field d iv">
              <textarea id="message" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
              <a class="waves-effect waves-light btn-large btn tooltipped" onclick="M.toast({html: 'Ha bah voila 😥'})" data-position="top" data-tooltip="Ne faites pas ça 🙏">Button</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
