<%= render "composants/navbar" %>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container shine_bg-light">
        <br><br>
        <h1 class="header center tertiary_text-dark">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">

          <% if user_signed_in? %>
            <% if current_user.parties.any? %>
              <%= link_to "Continue your parties", parties_path, class: "btn-large waves-effect waves-light" %>
            <% else %>
              <%= link_to new_party_path, class: "btn-large waves-effect waves-light" do %>
                Get Started
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_party_path, class: "btn-large waves-effect waves-light" do %>
              Get Started
            <% end %>
          <% end %>

        </div>
        <br><br>
        </div>
    </div>
    <div class="parallax">
      <%= image_tag ("pages/background1-1.png"), class: "" %>
    </div>
  </div>



  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="container primary_bg shine_text-light">
    <div class="section">
      <div class="row">
        <div class="col s5 center">
          <br>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          <br>
        </div>
        <div class="col s7 center">
          <%= image_tag ("pages/section-1.png"), class: "img_section" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <br>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="container primary_bg shine_text-light">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <br>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          <br>
        </div>
      </div>
    </div>
  </div>

    <div class="container primary_text">
      <div class="row center">
        <form class="">
          <div class="col s12">
            <div class="d iv"><h2 class="section-title">Contact Us</h2></div>
            <div class="input-field d ka">
              <input id="first_name" type="text">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field d ka">
              <input id="last_name" type="text">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field d iv">
              <textarea id="message" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
              <a class="waves-effect waves-light btn-large">Button</a>
            </div>
          </div>
        </form>
      </div>
    </div>
