<%= render "composants/navbar" %>
<div class="container">
  <%= render "composants/header_parties" %>


  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
        <span class="nav-bible" id="nav-bible"><i class="material-icons white-text">language</i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
        <span class="nav-maps" id="nav-map"><i class="material-icons white-text">directions</i>Map</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
        <span class="nav-players" id="nav-players"><i class="material-icons white-text">face</i>Players</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
        <span class="nav-active" id="nav-weapons"><i class="material-icons white-text">shopping_cart</i>Weapons</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
        <span class="nav-pnj" id="nav-pnj"><i class="material-icons white-text">group</i>PNJ</span>
      <% end %>
      <%= link_to party_creatures_path(@party) do %>
      <span class="nav-creatures" id="nav-creatures"><i class="material-icons white-text">pets</i>Creatures</span>
      <% end %>

    </div>
  </div>

  <div class="row row_bible" id="weapon-card">
    <div class="col s12 bible">
      <div data-controller="search">
        <div class="nav-wrapper search-bar col s5">
          <form data-action="submit->search#submit">
            <div class="input-field">
              <input id="search" type="search" required data-search-target="input" data-action="keyup->search#submit" placeholder="Rechercher une arme">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
          </form>
        </div>

        <div class="row" id="weapon-cards-container">
          <% @party.weapons.sort_by{|weapon| weapon.level }.group_by(&:level).each do |level, weapons| %>
            <div class="col s12 bible_title">
              <h2>Level <%= level %></h2>
            </div>
            <% weapons.each do |weapon| %>
              <div class="col s12 m6 l4" data-search-target="card">
                <div class="card horizontal object-card-container">

                  <div class="row">
                    <div class="card-image col s3">
                      <img src="https://img1.freepng.fr/20180325/lre/kisspng-middle-ages-knightly-sword-longsword-viking-sword-swords-5ab7a9c17dc6f0.6784556315219859855152.jpg">
                    </div>
                    <div class="card-content object-card-content col s9">
                      <div class="row weapon_logic_infos">
                        <div class="weapon-rarity col s3 truncate">
                          <% if weapon.rarity == "Commun" %>
                            <i class="material-icons commun">lens</i>
                          <% elsif weapon.rarity == "Rare" %>
                            <i class="material-icons rare">lens</i>
                          <% elsif weapon.rarity == "Épique" %>
                            <i class="material-icons epique">lens</i>
                          <% elsif weapon.rarity == "Légendaire" %>
                            <i class="material-icons legendary">lens</i>
                          <% else %>
                            <i class="material-icons commun">lens</i>
                          <% end %>
                        </div>
                        <div class="weapon-price col s4">
                          <i class="fa-solid fa-coins"></i> <%= weapon.price %>
                        </div>
                        <div class="object_lootable col s2 truncate">
                          <% if weapon.lootable %>
                          <i class="material-icons">lock_open</i>
                          <% else %>
                          <i class="material-icons">lock</i>
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <span class="object_name valign-wrapper name searchElement"><%= weapon.name %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
