<%= render "composants/navbar" %>
<div class="container">
  <%= render "composants/header_parties" %>


  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
      <span class="nav-bible" id="nav-bible"><i class="fa-regular fa-star nav-star"></i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
      <span class="nav-maps" id="nav-map"><i class="fa-regular fa-star nav-star"></i>Map</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
      <span class="nav-players" id="nav-players"><i class="fa-regular fa-star nav-star"></i>Players</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
      <span class="nav-active" id="nav-weapons"><i class="fa-solid fa-star nav-star"></i>Weapons</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
      <span class="nav-pnj" id="nav-pnj"><i class="fa-regular fa-star nav-star"></i>PNJ</span>
      <% end %>
      <%= link_to party_creatures_path(@party) do %>
      <span class="nav-creatures" id="nav-creatures"><i class="fa-regular fa-star nav-star"></i>Creatures</span>
      <% end %>
    </div>
  </div>


  <div class="row row_bible" id="weapon-card">
    <div class="col s12 bible">
    <div data-controller="search">
        <div class="nav-wrapper search-bar col s5">
          <form data-action="submit->search#submit">
            <div class="input-field">
              <input id="search" type="search" required data-search-target="input" data-action="keyup->search#submit">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons" data-action="click->search#clear">close</i>
            </div>
          </form>
        </div>

  <div class="row" id="weapon-cards-container">
    <% @weapons.sort_by{|weapon| weapon.level }.group_by(&:level).each do |level, weapons| %>
      <div class="col s12 bible_title">
        <h2>Level <%= level %></h2>
      </div>
        <% weapons.each do |weapon| %>
          <div class="col s6 m3" data-search-target="card">
            <div class="card horizontal object-card-container">
              <div class="card-image col s6">
                <img src="https://img1.freepng.fr/20180325/lre/kisspng-middle-ages-knightly-sword-longsword-viking-sword-swords-5ab7a9c17dc6f0.6784556315219859855152.jpg">
              </div>
              <div class="card-content object-card-content col s6">
                <div class="row">
                  <span class="weapon-lvl">Lvl <%= weapon.level %></span>
                  <span class="weapon-rarity truncate"><%= weapon.rarity %></span>
                </div>
                <div class="row">
                  <span class="object_name valign-wrapper name searchElement"><%= weapon.name %></span>
                </div>
                  <div class="row">
                    <span class="object_lootable truncate">
                      <% if weapon.lootable %>
                        Lootable
                      <% else %>
                        Not Lootable
                      <% end %>
                    </span>
                  </div>
                  <div class="row">
                    <i class="fa-solid fa-coins"></i><span class="weapon-price"><%= weapon.price %></span>
                  </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
