
<div class="row" id="navbar">
    <ul id="dropdown1" class="dropdown-content text-glighten">

      <li><%= link_to "Game Rules", game_rules_pages_path %></li>

      <li><a href="">My Account</a></li>
      <li class="divider"></li>
      <li><%= link_to "Sign Out", sign_out_path, :method => :delete %></li>
    </ul>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to parties_path do %>
          <%= image_tag 'logo/WM2.png', alt: 'Logo', class: 'logo-image' %>
          <% end %>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="dropdown-trigger" href="#" data-target="dropdown1">

                <%# <i class="material-icons right drop-arrow">arrow_drop_down</i> %>
                <% if current_user %>
              <div class="chip">
                <img src="https://res.cloudinary.com/dlixoduzo/image/upload/v1678200826/Gaston_LeYeti_loutre_qui_joue_de_lhamonica_39c2c097-b838-4000-b89b-72c8da453b71_ngkmyz.png" alt="Contact Person" class="loutre_harmoniciste">
                <%= current_user.username %> #<%= current_user.id %><%= Random.rand(10000000) %>
              </div>
                <% end %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
