<%= render "composants/navbar" %>
<div class="container">
  <%= render "composants/header_parties" %>

  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
        <span class="nav-bible" id="nav-bible"><i class="material-icons white-text">language</i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
        <span class="nav-maps" id="nav-map"><i class="material-icons white-text">directions</i>Cartes</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
        <span class="nav-pnj" id="nav-pnj"><i class="material-icons white-text">group</i>PNJ</span>
      <% end %>
        <%= link_to party_creatures_path(@party) do %>
      <span class="nav-creatures" id="nav-creatures"><i class="material-icons white-text">pets</i>Creatures</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
        <span class="nav-weapons" id="nav-weapons"><i class="material-icons white-text">shopping_cart</i>Armurerie</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
        <span class="nav-active" id="nav-players"><i class="material-icons white-text">face</i>Joueurs</span>
      <% end %>



    </div>
  </div>

  <div class="row row_bible" id="player-card">
    <div class="col s12 bible">
      <div class="row row-m-0">

        <%# <% end %>

        <% (1..10).each do |i| %>
          <% if  @party.send("player_#{i}") != nil %>
            <% if  @party.send("player_#{i}") != '' %>
              <div class="col s3">

                  <% sex_image_au_hasard = ["female","male"].sample %>
                  <% metier_image_au_hasard = ["alchemist","artificer","bard","cleric","druid","mage","monk","paladin","rogue","sorcerer","warlock","warrior"].sample %>
                  <% where_image_au_hasard = ["indoor","outdoor"].sample %>


                <div class="card card-player">
                  <div class="card-image" style="background-image: linear-gradient(165deg, #34383C, #<%= "%06x" % (rand * 0xffffff) %>);">
                    <%= image_tag("pnj_cards/#{sex_image_au_hasard}_#{metier_image_au_hasard}_#{where_image_au_hasard}.png") %>
                  </div>
                  <div class="card-content">
                    <span class="card-title grey-text text-darken-4"><%=  @party.send("player_#{i}") %></span>
                  </div>

                </div>

              </div>
            <% end %>
          <% end %>
        <% end %>


      </div>


    </div>
  </div>
</div>
