<%= render "composants/navbar" %>
<div class="container">
  <%= render "composants/header_parties" %>

  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">

      <%= link_to party_path(@party) do %>
      <span class="nav-bible" id="nav-bible"><i class="fa-regular fa-star nav-star"></i>Bible</span>
      <% end %>
      <%= link_to party_maps_path(@party) do %>
      <span class="nav-map" id="nav-map"><i class="fa-regular fa-star nav-star"></i>Map</span>
      <% end %>
      <%= link_to party_players_path(@party) do %>
      <span class="nav-active" id="nav-players"><i class="fa-solid fa-star nav-star"></i>Players</span>
      <% end %>
      <%= link_to party_weapons_path(@party) do %>
      <span class="nav-weapons" id="nav-weapons"><i class="fa-regular fa-star nav-star"></i>Weapons</span>
      <% end %>
      <%= link_to party_pnjs_path(@party) do %>
      <span class="nav-pnj" id="nav-pnj"><i class="fa-regular fa-star nav-star"></i>PNJ</span>
      <% end %>

    </div>
  </div>

  <div class="row row_bible" id="pnj-card">
    <div class="col s12 bible">

      <div class="row">
        <div class="col s12 bible_title">
          <h2>Players</h2>
        </div>
      </div>

      <div class="row">


                <% @party.players.each do |player| %>
                  <div class="col s3">

                      <% sex_image_au_hasard = ["female","male"].sample %>
                      <% metier_image_au_hasard = ["alchemist","artificer","bard","cleric","druid","mage","monk","paladin","rogue","sorcerer","warlock","warrior"].sample %>
                      <% where_image_au_hasard = ["indoor","outdoor"].sample %>


                    <div class="card">
                      <div class="card-image waves-effect waves-block waves-dark">
                        <%= image_tag("pnj_cards/#{sex_image_au_hasard}_#{metier_image_au_hasard}_#{where_image_au_hasard}.png") %>
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= player.username %></span>
                      </div>

                    </div>

                  </div>
                <% end %>


      </div>


    </div>
  </div>
</div>
