<%= render "composants/navbar" %>
<div class="container">
  <div class="dashboard-title">
    <div class="dashboard-party-infos">
      <h1>L'apo de Nico</h1>
      <span>Crée le 24.02.2022</span>
    </div>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>avec icone</a>
  </div>


  <div class="row nav-dashboard" id="nav-dashboard">
    <div class="col s12 nav-dashboard-tabs">
      <span class="nav-bible" id="nav-bible"><i class="fa-regular fa-star nav-star"></i>Bible</span>
      <span class="nav-map" id="nav-map"><i class="fa-regular fa-star nav-star"></i>Map</span>
      <span class="nav-players" id="nav-players"><i class="fa-regular fa-star nav-star"></i>Players</span>
      <span class="nav-active" id="nav-weapons"><i class="fa-solid fa-star nav-star"></i>Weapons</span>
      <span class="nav-pnj" id="nav-pnj"><i class="fa-regular fa-star nav-star"></i>PNJ</span>
    </div>
  </div>
  <div class="row" id="object-card">

  <% @Weapons.each do |w| %>
    <%= w.name %>
    <%= w.price %>
    <%= w.rarity %>
    <%= w.level %>
  <% end %>
    <div class="col s6 m4">
        <div class="card horizontal object-card-container">
          <div class="card-image col s3">
            <img src="https://img1.freepng.fr/20180325/lre/kisspng-middle-ages-knightly-sword-longsword-viking-sword-swords-5ab7a9c17dc6f0.6784556315219859855152.jpg">
          </div>
          <div class="card-content object-card-content col s9">
            <div class="row">
              <span class="weapon-lvl">Niv.5</span><span class="weapon-rarity">Très rare</span><i class="fa-regular fa-circle"></i>
            </div>
            <div class="row">
              <span class="object_name">Épée de Hourglard</span>
            </div>
            <div class="row">
              <i class="fa-solid fa-coins"></i><span class="weapon-price">48.99</span>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
